<article class='row'>
  <table class='table'>
    <tr>
      <th></th>
      <td><%= link_to 'Back', admin_exceptions_path %></td>
    </tr>
    <tr>
      <th>URI</th>
      <td><%= @admin_exception.uri %></td>
    </tr>
    <tr>
      <th>Message</th>
      <td><%= @admin_exception.message %></td>
    </tr>
    <tr>
      <th>Backtrace</th>
      <td>
        <ul class='list-unstyled'>
          <%- @admin_exception.backtrace.each do |location| %>
          <li><%= location %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </table>
</article>