<% content_for :title do %>
  FAQ
<% end %>

<article>
  <header>
    <h1><%= yield :title %></h1>
  </header>
  <section>
    <dl>
      <dt>Will you provide any downloading or online-streaming information?</dt>
      <dd>No</dd>
    </dl>
  </section>
</article>