<% content_for :title do %>
  FAQ
<% end %>

<article class='faq'>
  <header>
    <h1><%= yield :title %></h1>
  </header>
  <section>
    <%= q_and_a(
          'Will you provide any downloading or online-streaming information?',
          'No'
        ) %>
    <%= q_and_a(
          "Why can't I see the images?",
          "There could be many reasons. Either our information is wrong, or it has something to do on the client side (i.e. your problem). That's because we don't store images on our own server, instead we serve the image url on Makers(Sellers)' site directly. In order to get you the actual image, some of them requires your browser language to be Japanese, some of them requires your IP to be in Japan. Addtionally, some of them is blocked by GFW. Unfortunately, we can do nothing about that, aside from suggesting you to try a proxy or VPN or just simply change your browser language."
        ) %>
    </dl>
  </section>
</article>