@import "bootstrap";
@import "bootstrap/theme";
@import url("//fonts.googleapis.com/css?family=Special+Elite");

p.logo-lg {
  font-family: 'Special Elite', 'Papyrus', cursive;
  font-size: 5em;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

article form.search-box {
  text-align: center;
}