@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";
@import "pages";
@import "products";
@import "devise";

$footer_height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  margin-bottom: $footer_height;
}

@import url("//fonts.googleapis.com/css?family=Special+Elite");
.logo {
  font-family: 'Special Elite', 'Papyrus', cursive;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  background-color: #f5f5f5;
  line-height: $footer_height;
  text-align: center;
  p {
    margin-bottom: 0;
  }
  iframe {
    height: 32px !important;
    vertical-align: middle;
  }
}

// Required by Angular Bootstrap
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}