$dt_width: 100px;

article.product {
  margin-bottom: 30px;
  header {
    margin-bottom: 30px;
  }
  section.cover {
    img {
      margin-bottom: 15px;
      width: 100%;
    }
  }
  section.details {
    dl.dl-horizontal {
      dt {
        width: $dt_width;
      }
      dd {
        margin-left: $dt_width + 10px;
        ul {
          margin-bottom: 0;
        }
      }
    }
  }
  h2 {
    margin-bottom: 25px;
  }
}