<footer>
  <div class='container'>
    <span>Copyright © since 2014 LibreDMM All Rights Reserved</span>
    ·
    <a href='mailto: libredmm@gmail.com'>
      <%= icon_fa 'envelope-o', 'Contact Admin' %>
    </a>
  </div>
</footer>